@import "helpers/responsive_mixin";

div.cover-container {
  background-image: url("https://images.unsplash.com/photo-1530825894095-9c184b068fcb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1953&q=80"),
    linear-gradient(#00000075, #00000075);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-size: cover;

  div.hero-box {
    width: max-content;
    text-align: center;
    color: $primary_white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include responsive_mobile() {
      h1.hero-title {
        font-size: 3.5em;
      }

      h3{
        font-size: 1.8em;
      }
    }

    @include responsive_tab() {
        h1.hero-title {
          font-size: 2em;
        }

        h3{
          font-size: 1.2em;
        }
      }
  }

  main{

    div{

        div.card{
            
        }
    }
  }
}
