@import "helpers/_mixins";

div.cover-container {

  &.home-page {
    background-image: url("https://images.unsplash.com/photo-1530825894095-9c184b068fcb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1953&q=80"),
      linear-gradient(#00000075, #00000075);
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;
  }

  &.startup-cover{
    background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"),
      linear-gradient(#00000075, #00000075);
    height: 100vh !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;

  }

  &.messina-tour{
    background-image: url("../../img/messina-background.jpg"),
      linear-gradient(#00000075, #00000075);
    height: 100vh !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;

  }

  &.catalog-page{
    background-image: url("https://images.unsplash.com/photo-1493497029755-f49c8e9a8bbe?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80"),
      linear-gradient(#00000075, #00000075);
    height: 100vh !important; 
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;

  }

  div.hero-box {
    width: 100%;
    text-align: center;
    color: $primary_white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      width: 100%;
      margin-top: 3em;
      text-decoration: none;
      color: $primary_white;
      font-size: 1.4rem;
    }

    @include responsive_mobile() {
      h1.hero-title {
        font-size: 3.5em;
      }

      h3 {
        font-size: 1.8em;
      }
    }

    @include responsive_tab() {
      h1.hero-title {
        font-size: 2em;
      }

      h3 {
        font-size: 1.2em;
      }
    }
  }
}
