section.citytour-container{

    div.citytour-model{
        margin: 2rem;
        border: 2px solid $primary_blue;
        height: 70vh;
    }

   div.city-story{
       text-align: center;
       margin: 0 1rem;
       font-weight: 450;
       font-size: $font-20;
    }    

    div.tour-group{
        
        div.tours-row{
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: center;


            @media screen and (min-width: 767px){
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

            }

            

            div.tour-wrap{
                margin: 0 .5rem;
                display: flex;
                flex-flow: row wrap;
                width: 100%;

                @media screen and (min-width: 992px){
                    width: 45%;
    
                }

                div.tour-block{
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2.5rem;
    
                    @media screen and (max-width: 767px){
                        flex-flow: column wrap;
                        align-items: center;
    
                    }
    
                    .tour-img{
                        margin: auto;
                        
                        @media screen and (min-width: 767px){
                            width: 50%;
                        }

    
                        img{
                            
                            height: 200px;
                            width: 200px;
                            border-radius: 50%;
                            box-shadow: 0 8px 16px #000000b4;
     
                        }
    
                    }
    
                    .tour-info{
                        display: flex;
                        flex-flow: column nowrap;
                        padding: .8rem;

                        div.info-header{
                            @extend .bold;
                            margin:  0;
                            font-size: 1.3em;
    
                        }

                        div.info-body{
                            width: fit-content;
            
                        }
    
                    }

                    

                }

                div.tour-footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: .8rem;
                    padding-left: 0;
                    font-size: 1.2em;
                    color: #1d1d1d;
                    font-weight: 550;

                    div{
                        p{
                            margin: 0;
                        }
                    }

                        
                }

            }
            

            
        }
    }

    div.tour-fulltour{
        position: relative;
        padding: 2rem;
        margin: 1rem auto;
        width: 70%;

        @media screen and (max-width: 767px){
            width: 100%;

        }

        div.card{
            height: fit-content;
            width: 100%;
            margin: auto;
            border-radius: 6px;
            border: none;
            
                img{
                    height: 35vh;
                    width: 100%;
                    box-shadow: 0 8px 16px #0000008f;
                }

            div.tour-complete-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;

                div{
                    p{
                        margin: 0;
                    }
                }
            }    

        }

    }




} 

