$article-font: 18px;
$p-1: .7rem;


section.storybox-container {
  padding: 2em 1rem;
  font-size: $article-font;

  div.storybox-wrapper {
    display: flex;
    flex-flow: column;
    padding: 1.5rem 1.5rem 0 1.5rem;

    div.story-img,
    div.story-block {
      height: 50%;
      padding: .5rem;
    }


    div.story-card {
      width: 100%;
      padding: 1em;
      margin: 1.2rem 0;
      display: flex;
      border-radius: 5px;

      .box-body{
        font-weight: 450;
      }
      

      img{
        box-shadow: 0 8px 16px #0000005e;

        .first{

        }

        .second{
          
        }

        
      }

      div.box-header {
        margin-bottom: 2rem;

        h3 {
          color: black;
          font-weight: $font-w-550;

        }

      }

      


    

    }

  }




  @include responsive_tab() {
    div.story-card {
      flex-flow: column wrap;

      div.story-img,
      div.story-block {
        width: 100%;
      }
    }
  }

  @include responsive(768px, 2000px) {
    div.story-card {
      flex-flow: row wrap;

      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      div.story-img,
      div.story-block {
        padding: 2em 2em;
        width: 50%;
      }
    }
  }


}