

.ava-team{

    .ava-divider{
        margin-bottom: -1px;
    }

    .ava-content-wrapper{
        
        background-color: $primary_blue;
    }

    .team-card{
        display: flex;
        flex-flow: column;
      // @extend .jus-baseline;
        justify-content: baseline;
        margin: 16px 32px;
        padding: 20px;
        height: 250px;
        width: 250px;
        background-color: white;
        border-radius: 10px;
        box-shadow:  rgba(255, 255, 255, 0.4) 5px 5px,  rgba(255, 255, 255, 0.3) 10px 10px,  rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.1) 25px 25px;

        @media screen and (max-width:567px){
            
            
        }
        

        div.img-box{
            text-align: center;
            
            object-fit:cover;
            border-radius:50%;

            img{
                margin: auto;
                object-fit:cover;
                border-radius:50%;
                width: 90px;
                height:90px;
                box-shadow: 8px 8px 8px -5px #666666 ;
            }

        }
        
        .team-info{
            text-align: center;
            
            object-fit:contain;
            
            
            span.name{
                display: block;
                font-size: 22px;
                font-weight: 600;
                padding:10px;

            }

            span.job{
               // @include fluid-type(16px, 18px);
                padding:10px;
            }
        }
        
    }

}
