section.mission-section {
  padding: 2rem 2.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  .card-deck{
    max-width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media screen and (max-width: 567px){
      flex-direction: column;
      max-width: 100%;
      
    }
  }

  div.card.mission-card {
    text-align: center;
    margin-right: 15px;
    margin-bottom: 2rem;
    margin-left: 15px;
    border: none;

    h5.card-title {
      font-size: $font-24;
      font-weight: $font-w-550;
    }

    p.card-text {

      font-size: $font-18;
      font-weight: 400;
    }


    div.card-header,
    %card-header {

      text-align: center;
      margin-bottom: 1.5rem;
      box-shadow: 0 8px 16px #00000052;
      border-radius: 5px;
    }

    div.card-body {
      margin: auto;
      max-width: 300px;
      transition: box-shadow 0.2s linear;
      border-radius: 8px;

      @media screen and (min-width: 768px) {
        font-size: $font-20;
      }

      &:hover {
        box-shadow: 0 8px 16px #0000002e;
      }

      svg{
        max-width: 180px;
      }
    }
  }


}

.title-row{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;

}


svg.house {
  .st0{fill:transparent;}
	.st1{fill:#1B3242;}
	.st2{opacity:0.79;}
	.st3{fill:none;stroke:#DBBA95;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:none;stroke:#1B3242;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st5{fill:#C3F3F7;}
	.st6{fill:#93C4C6;}
	.st7{fill:none;stroke:#1B3242;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st8{fill:#F9263B;}
	.st9{fill:#EF3946;}
	.st10{opacity:0.64;fill:#FCFCFC;}
	.st11{fill:#FFFFFF;}
	.st12{fill:#D12845;}
	.st13{fill:#FF485E;}
	.st14{opacity:0.36;fill:#7BB448;}
	.st15{fill:none;stroke:#303030;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st16{opacity:0.29;fill:#7BB448;}
	.st17{fill:#303030;}
	.st18{fill:#82E086;}
	.st19{opacity:0.37;fill:#82E086;}
	.st20{opacity:0.83;fill:#CCCCCC;}
	.st21{fill:#1AC7CE;}
	.st22{fill:#31AFAF;}
	.st23{fill:none;stroke:#1B3242;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st24{fill:#F34C6A;}
	.st25{fill:none;stroke:#1B3242;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st26{fill:#FFD55C;}
	.st27{fill:none;stroke:#1B3242;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st28{fill:none;stroke:#1D2F3D;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st29{fill:#F7F7F7;}
	.st30{fill:#E8BA8B;}
	.st31{opacity:0.79;fill:#995D45;}
	.st32{opacity:0.35;fill:#995D45;}
	.st33{opacity:0.31;fill:#474747;}
	.st34{fill:#FF433E;}
	.st35{fill:#6CBC96;}
	.st36{fill:#F4BA7A;}
	.st37{fill:#5492A8;}
	.st38{fill:#934D84;}
	.st39{fill:#18C6CD;}
	.st40{fill:#995D45;}
	.st41{opacity:0.82;fill:#995D45;}
	.st42{fill:none;stroke:#1B3242;stroke-width:11;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

svg.tech {
  .st0 {
    fill: transparent;
  }

  .st1 {
    fill: #EEF2F4;
  }

  .st2 {
    opacity: 0.5;
    fill: #232323;
    stroke: #232323;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    enable-background: new;
  }

  .st3 {
    fill: #43597A;
  }

  .st4 {
    opacity: 0.7;
    fill: #6A87AD;
  }

  .st5 {
    fill: #394E6B;
  }

  .st6 {
    fill: none;
    stroke: #202454;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st7 {
    fill: #2F3F56;
  }

  .st8 {
    fill: none;
    stroke: #283356;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st9 {
    opacity: 0.8;
  }

  .st10 {
    opacity: 0.8;
    fill: #B4C7E7;
    enable-background: new;
  }

  .st11 {
    fill: none;
    stroke: #22293F;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st12 {
    fill: none;
    stroke: #202454;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st13 {
    fill: none;
    stroke: #707A99;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st14 {
    opacity: 0.4;
  }

  .st15 {
    fill: #232323;
    stroke: #232323;
    stroke-width: 8.0001;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10.0001;
  }

  .st16 {
    fill: #232323;
    stroke: #232323;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st17 {
    fill: none;
    stroke: #232323;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st18 {
    opacity: 0.5;
    fill: #6A87AD;
  }

  .st19 {
    fill: none;
    stroke: #202454;
    stroke-width: 8.0001;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10.0001;
  }

  .st20 {
    fill: #6A87AD;
  }

  .st21 {
    fill: #334665;
  }

  .st22 {
    opacity: 0.4;
    fill: #43597A;
    enable-background: new;
  }

  .st23 {
    fill: #81A0C1;
  }

  .st24 {
    fill: #E2E9F2;
  }

}

.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}