footer{
    background-color: #071165;
    padding: 1em .8em;
    color: $primary_white;
    width: 100%;

    div.footer-wrapper{
        display: flex;
        flex-flow: row wrap;
        margin: auto;

        
            
            div.footer-brand{
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                

                a.navbar-brand{
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }

           }
            
    }
}