div#staticBackdrop.modal.fade {
    padding-right: 0;

    div.modal-dialog {
        color: $card_white;

        @media (min-width:576px) {

            max-width: 767px;
            margin: 1.75rem auto
        }

        div.modal-header {

            button {

                span {
                    color: $total_white;

                    &:hover {
                        color: red;
                    }
                }
            }
        }

        div.modal-content {
            background-color: #000000b9;
        }

        div.modal-footer {}

        div.modal-body {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 1rem;

            .modal-video {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-top: 56.25%;
                /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

                iframe {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }

            }


        }

    }

    form {
        margin: 1rem 0;
        text-align: left;
    }
}

/* Open video in modal */

div#videoModal {

    .modal-header,
    .modal-content {
        border: none;
        background-color: transparent;

        .close {
            float: right;
            margin: 5px 10px;
            font-size: 46px;
            color: #fff;
            font-weight: $font-w-600;
            text-shadow: none;
            opacity: 1;
        }


    }

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }



    .modal-body {
        position: relative;
        padding: 0px;
    }



    .modal-content {}

}

div#videoModalBox {
   

    iframe#modalFrame {
       
    }
}