@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font-20: 20px;
$font-24: 24px;
$font-18: 18px;

$font-w-600: 600;
$font-w-550: 550;

